---
import { Image } from "astro:assets";
import About from "@images/about.jpg";
import B1 from "@images/about/b1.jpg";
import B2 from "@images/about/b2.png";
import Layout from "src/layouts/Layout.astro";
import Breadcrumb from "@components/Breadcrumb.astro";
import PhotoSwipeVideo from "@components/PhotoSwipeVideo";
import Stats from "@sections/Stats";

const image = {
  path: "/src/images/breadcrumb/bg-nosotros.jpg",
  alt: "Iquitos Expedition - Tours Amazonas",
  style: "",
};
---

<Layout>
  <Breadcrumb image={image} title="Nosotros" />
  <div class="flex flex-wrap relative">
    <div
      class="bg-tertiary-500 flex-col items-center lg:h-[600px] lg:w-[600px] lg:rounded-br-3xl text-gray-900 leading-7 z-10 text-justify relative"
    >
      <div
        class="lg:max-w-lg lg:absolute lg:right-0 flex flex-col h-full justify-center items-center lg:items-start px-8 py-12 gap-6"
      >
        <h1 class="text-4xl font-bold">Sobre Nosotros</h1>
        <p class="text-sm">
          En SERVIESTIBA, la eficiencia en nuestros servicios es una
          preocupación constante para el buen funcionamiento de su empresa o
          cualquier tipo de apoyo que se requiere ya sean de carácter
          Industrial, Comercial, de dimensiones pequeñas, grandes y hasta muy
          grandes (operatividad).
        </p>
        <p class="text-sm">
          Para llegar a este nivel desarrollamos un plan de trabajo a la medida
          de las necesidades del cliente, nuestro servicio especializado de
          Estiba y desestiba, permitirá menor tiempo en sus operaciones así como
          seguimiento y medición del impacto de nuestros servicios en procesos
          de su empresa, garantizado por un efectivo sistema de supervisión y
          colaboradores calificados.
        </p>
        <PhotoSwipeVideo client:load />
      </div>
    </div>
    <Image
      src={About}
      alt="ServiEstiba"
      class="absolute right-0 object-cover h-[600px] w-3/4 hidden lg:block"
    />
  </div>
  <Stats client:visible />
  <div class="grid xl:grid-cols-2">
    <div class="h-[500px] relative group">
      <Image
        src={B1}
        alt="Serviestiba campus"
        width={690}
        height={397}
        class="w-full h-full object-cover"
      />
      <div
        class="absolute h-full group-hover:bg-black group-hover:bg-opacity-50 transition-all duration-300 w-full top-0"
      >
      </div>
      <div
        class="absolute top-0 right-0 px-8 py-20 max-w-sm bg-[#add9bd] rounded-bl-2xl"
      >
        <h2 class="text-3xl font-bold text-green-900 mb-4">Nuestra historia</h2>
        <p class="text-sm text-green-900 text-justify">
          En SERVIESTIBA, la eficiencia en nuestros servicios es una
          preocupación constante para el buen funcionamiento de su empresa o
          cualquier tipo de apoyo que se requiere ya sean de carácter
          Industrial, Comercial, de dimensiones pequeñas, grandes y hasta muy
          grandes (operatividad).
        </p>
      </div>
    </div>
    <div class="h-[500px] relative group">
      <Image
        src={B2}
        alt="Serviestiba campus"
        width={690}
        height={397}
        class="w-full h-full object-cover"
      />
      <div
        class="absolute h-full group-hover:bg-black group-hover:bg-opacity-50 transition-all duration-300 w-full top-0"
      >
      </div>
      <div
        class="absolute top-0 right-0 px-8 py-20 max-w-sm bg-green-900 rounded-bl-2xl"
      >
        <h2 class="text-3xl font-bold text-[#add9bd] mb-4">
          Nuestros servicios
        </h2>
        <p class="text-sm text-[#add9bd] text-justify">
          En SERVIESTIBA, la eficiencia en nuestros servicios es una
          preocupación constante para el buen funcionamiento de su empresa o
          cualquier tipo de apoyo que se requiere ya sean de carácter
          Industrial, Comercial, de dimensiones pequeñas, grandes y hasta muy
          grandes (operatividad).
        </p>
      </div>
    </div>
  </div>
</Layout>
