---
import { Image } from "astro:assets";
import About1 from "@images/about/about1.jpeg";
import About2 from "@images/about/about2.jpeg";
import { SITE_TITLE } from "src/constants";
import Layout from "src/layouts/Layout.astro";
import Breadcrumb from "@components/Breadcrumb.astro";

const image = {
  path: "/src/images/breadcrumb/bg-nosotros.jpg",
  alt: "Iquitos Expedition - Tours Amazonas",
  style: "",
};
---

<Layout>
  <Breadcrumb image={image} title="Nosotros" />
  <div class="bg-white scroll-m-24 lg:scroll-m-32" id="nosotros">
    <div class="max-w-7xl py-12 px-4 mx-auto">
      <div class="flex flex-wrap justify-center">
        <div class="w-full lg:w-1/2 order-2 lg:order-1">
          <div class="relative h-[550px] w-[550px] m-auto">
            <Image
              src={About1}
              width={550}
              alt={SITE_TITLE}
              class="w-full h-full rounded-lg object-cover"
            />
          </div>
        </div>
        <div
          class="lg:w-1/2 p-4 order-1 lg:order-2 content-center space-y-6 mb-8 lg:mt-0"
        >
          <h2 class="text-gray-900 text-4xl lg:text-5xl font-bold">Nosotros</h2>
          <p class="text-lg text-gray-700">
            Empresa líder, especializada en el servicio de estiba y desestiba de
            mercaderías en contenedores, siendo nuestras principales
            características la eficiencia y confianza
          </p>
          <p class="text-lg text-gray-700">
            En SERVIESTIBA, la eficiencia en nuestros servicios es una
            preocupación constante para el buen funcionamiento de su empresa o
            cualquier tipo de apoyo que se requiere ya sean de carácter
            Industrial, Comercial, de dimensiones pequeñas, grandes y hasta muy
            grandes (operatividad).
          </p>
          <p class="text-lg text-gray-700">
            Para llegar a este nivel desarrollamos un plan de trabajo a la
            medida de las necesidades del cliente, nuestro servicio
            especializado de Estiba y desestiba, permitirá menor tiempo en sus
            operaciones así como seguimiento y medición del impacto de nuestros
            servicios en procesos de su empresa, garantizado por un efectivo
            sistema de supervisión y colaboradores calificados.
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>
