---
import Logo from "@images/logo.png";
import { Image } from "astro:assets";
---

<div class="bg-green-700 h-48">
  <div class="max-w-7xl mx-auto flex flex-wrap py-12 px-4">
    <Image
      src={Logo}
      alt="Logo"
      width={200}
      height={100}
      class="brightness-[8]"
    />
  </div>
</div>
