---
import { Image } from "astro:assets";
import About1 from "@images/about/about1.jpeg";
import About2 from "@images/about/about2.jpeg";
import { SITE_TITLE } from "src/constants";
---

<div class="bg-white scroll-m-24 lg:scroll-m-32" id="nosotros">
  <div class="max-w-7xl py-24 px-4 mx-auto">
    <div class="flex flex-wrap justify-center">
      <div class="w-full lg:w-1/2 order-2 lg:order-1">
        <div class="relative min-h-[450px] h-full max-w-[450px] m-auto">
          <Image
            src={About1}
            width={450}
            height={709}
            alt={SITE_TITLE}
            class="h-5/6 w-3/5 absolute top-0 left-0 rounded-lg"
            loading="eager"
          />
          <Image
            src={About2}
            width={450}
            height={709}
            alt={SITE_TITLE}
            class="h-5/6 w-3/5 absolute bottom-0 right-0 rounded-lg"
            loading="eager"
          />
        </div>
      </div>
      <div
        class="lg:w-1/2 p-4 order-1 lg:order-2 space-y-8 content-center mb-8 lg:mt-0"
      >
        <h2 class="text-gray-900 text-4xl lg:text-5xl font-semibold">
          ¿Qué Hacemos?
        </h2>
        <p class="text-lg text-gray-700 text-justify">
          En SERVIESTIBA, la eficiencia en nuestros servicios es una
          preocupación constante para el buen funcionamiento de su empresa o
          cualquier tipo de apoyo que se requiere ya sean de carácter
          Industrial, Comercial, de dimensiones pequeñas, grandes y hasta muy
          grandes (operatividad).
        </p>
        <p class="text-lg text-gray-700 text-justify">
          Para llegar a este nivel desarrollamos un plan de trabajo a la medida
          de las necesidades del cliente, nuestro servicio especializado de
          Estiba y desestiba, permitirá menor tiempo en sus operaciones así como
          seguimiento y medición del impacto de nuestros servicios en procesos
          de su empresa, garantizado por un efectivo sistema de supervisión y
          colaboradores calificados.
        </p>
      </div>
    </div>
  </div>
</div>
