---
import BaseHead from "@components/BaseHead.astro";
import Navbar from "@components/Nabvar";
import Slider from "@components/Slider.astro";
import { getImage } from "astro:assets";
import Logo from "@images/logo.png";
import { ViewTransitions } from "astro:transitions";
import { SITE_TITLE, SITE_DESCRIPTION } from "src/constants";

const logo = await getImage({
  src: Logo,
  height: 64,
});

const routePath = `/${Astro.url.pathname.split("/")[1]}`;
---

<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body>
    <header class="relative">
      <Navbar client:load logo={logo.src} routePath={routePath} />
      {routePath === "/" && <Slider />}
    </header>
    <main class="h-screen bg-green-300">
      <slot />
    </main>
  </body>
</html>
